In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pyarrow as pa
import pyarrow.parquet as pq
from pymongo import MongoClient, ASCENDING
from google.colab import drive

ModuleNotFoundError: No module named 'google.colab'

In [36]:
df = pd.read_csv('E-commerce.csv', encoding='ISO-8859-1')

In [37]:
# Load and Analyze the structure of Dataset
print(df.head().to_string(),'\n')
print(df.info())
print('Original Dataset Shape:', df.shape)

  InvoiceNo StockCode                          Description  Quantity     InvoiceDate  UnitPrice  CustomerID         Country
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6  12/1/2010 8:26       2.55     17850.0  United Kingdom
1    536365     71053                  WHITE METAL LANTERN         6  12/1/2010 8:26       3.39     17850.0  United Kingdom
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8  12/1/2010 8:26       2.75     17850.0  United Kingdom
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6  12/1/2010 8:26       3.39     17850.0  United Kingdom
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6  12/1/2010 8:26       3.39     17850.0  United Kingdom

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB
None
Original Dataset Shape: (541909, 8)

In [6]:
# Pre-processing
# To find missing values in the dataset
print('\nMissing Values found in the dataset:')
print(df.isnull().sum())

Missing Values found in the dataset:
InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [7]:
# To fill missing values in the dataset
df['CustomerID'] = df['CustomerID'].fillna(0)
df['Description'] = df['Description'].fillna('Unknown')

In [8]:
# To find duplicated values in the dataset
print("\nTotal No. of Duplicates:", df.duplicated().sum())

Total No. of Duplicates: 5268

In [9]:
# To verify if missing values still present in the dataset
print("\nTotal No. of Missing Values after:")
print(df.isnull().sum())

Total No. of Missing Values after:
InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [10]:
# To detect outlier detection using IQR
numerical_columns = df.select_dtypes(include=['int64', 'float64']).columns

In [11]:
# Calculate IQR
Q1 = df[numerical_columns].quantile(0.25)
Q3 = df[numerical_columns].quantile(0.75)
IQR = Q3 - Q1

In [12]:
# Outlier Boundaries
lower_bound = Q1 - 0.4 * IQR
upper_bound = Q3 + 0.4 * IQR

In [13]:
# To detect outliers
outliers = ((df[numerical_columns] < lower_bound) | (df[numerical_columns] > upper_bound))

In [14]:
# To remove outliers
df = df[~outliers.any(axis=1)]

In [15]:
# Summary after removing outliers
total_outliers = outliers.sum().sum()
after_removal = df.shape[0]

In [16]:
# To print the total and shape of the dataset after removing outliers
print(f"\nTotal number of outliers: {total_outliers}")
print(f"Total number of rows after outlier removal: {after_removal}")

Total number of outliers: 332896
Total number of rows after outlier removal: 260700

For loop for visualization for each column
for col in numerical_columns:
    plt.figure(figsize=(12,8))
    sns.boxplot(data=df, x=col)
    plt.title(f'Box Plot of {col} after Removing Outliers')
    plt.show()

In [17]:
# Data Type Conversion
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], format='%m/%d/%Y %H:%M')
df['CustomerID'] = df['CustomerID'].astype('int64')

In [18]:
# To verify
print("\nData Types After Conversion:")
print(df.dtypes)

Data Types After Conversion:
InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID              int64
Country                object
dtype: object

In [19]:
# To show tidy dataset
print('\nDataset after Data Cleaning and Preprocessing:')
print(df.head().to_string())
print(df.shape)

Dataset after Data Cleaning and Preprocessing:
   InvoiceNo StockCode                         Description  Quantity         InvoiceDate  UnitPrice  CustomerID         Country
10    536367     22745          POPPY'S PLAYHOUSE BEDROOM          6 2010-12-01 08:34:00       2.10       13047  United Kingdom
11    536367     22748           POPPY'S PLAYHOUSE KITCHEN         6 2010-12-01 08:34:00       2.10       13047  United Kingdom
12    536367     22749   FELTCRAFT PRINCESS CHARLOTTE DOLL         8 2010-12-01 08:34:00       3.75       13047  United Kingdom
13    536367     22310             IVORY KNITTED MUG COSY          6 2010-12-01 08:34:00       1.65       13047  United Kingdom
14    536367     84969  BOX OF 6 ASSORTED COLOUR TEASPOONS         6 2010-12-01 08:34:00       4.25       13047  United Kingdom
(260700, 8)

In [20]:
# Filtering based on Specified Criteria
print('\nRetrieved Dataset based on UnitPrice and Country')
filtered_df = df[(df['UnitPrice'] == 2) & (df['Country'] == 'United Kingdom')]
print(filtered_df.to_string())

Retrieved Dataset based on UnitPrice and Country
       InvoiceNo StockCode                 Description  Quantity         InvoiceDate  UnitPrice  CustomerID         Country
32583     539092    35001W  HAND OPEN SHAPE DECO.WHITE         6 2010-12-16 10:08:00        2.0       15482  United Kingdom
32584     539092    35001G        HAND OPEN SHAPE GOLD         6 2010-12-16 10:08:00        2.0       15482  United Kingdom
118262    546426         M                      Manual         1 2011-03-13 13:46:00        2.0       13708  United Kingdom
144949    548860         M                      Manual         1 2011-04-04 13:38:00        2.0       13263  United Kingdom
359476    568188     22502  PICNIC BASKET WICKER SMALL         1 2011-09-25 14:33:00        2.0       16049  United Kingdom

In [21]:
# Establishing Connection to MongoDB
data_dict = df.to_dict(orient='records')
client = MongoClient('mongodb+srv://jermainejancalip27:Jermaine27.@cluster0.vuirs2r.mongodb.net/')
# Check the connection if successful
print("\nConnection established successfully!")

Connection established successfully!

In [22]:
# Create and Insert Data into MongoDB
db = client['E-Commerce']
collection = db['E-Commerce']
# collection.insert_many(data_dict)

In [23]:
# Retrieve and display one document from MongoDB
# document = collection.find()
document = collection.find_one()
print('\nDisplaying one document from MongoDB:', document)

Displaying one document from MongoDB: {'_id': ObjectId('66b5af376719fcca154ef6ca'), 'InvoiceNo': '536365', 'StockCode': '85123A', 'Description': 'WHITE HANGING HEART T-LIGHT HOLDER', 'Quantity': 6, 'InvoiceDate': datetime.datetime(2010, 12, 1, 8, 26), 'UnitPrice': 2.55, 'CustomerID': 17850, 'Country': 'UK'}

In [24]:
# Sorting based on Specified Criteria
print('\nSorted with specified criteria')
sorted_df = collection.find({'Country': 'France'}).sort('Quantity', ASCENDING).limit(5)
# To print each document
for document in sorted_df:
    print(document)

Sorted with specified criteria
{'_id': ObjectId('66b5af376719fcca154ff0e8'), 'InvoiceNo': 'C546559', 'StockCode': '84978', 'Description': 'HANGING HEART JAR T-LIGHT HOLDER', 'Quantity': -12, 'InvoiceDate': datetime.datetime(2011, 3, 15, 10, 24), 'UnitPrice': 1.25, 'CustomerID': 12727, 'Country': 'France'}
{'_id': ObjectId('66b5af376719fcca154f7c73'), 'InvoiceNo': 'C542088', 'StockCode': '22556', 'Description': 'PLASTERS IN TIN CIRCUS PARADE ', 'Quantity': -12, 'InvoiceDate': datetime.datetime(2011, 1, 25, 12, 36), 'UnitPrice': 1.65, 'CustomerID': 12553, 'Country': 'France'}
{'_id': ObjectId('66b5af386719fcca1550f841'), 'InvoiceNo': 'C557142', 'StockCode': '84378', 'Description': 'SET OF 3 HEART COOKIE CUTTERS', 'Quantity': -12, 'InvoiceDate': datetime.datetime(2011, 6, 17, 10, 6), 'UnitPrice': 1.25, 'CustomerID': 12678, 'Country': 'France'}
{'_id': ObjectId('66b5af386719fcca1550db43'), 'InvoiceNo': 'C555935', 'StockCode': '21090', 'Description': 'SET/6 COLLAGE PAPER PLATES', 'Quantity': -12, 'InvoiceDate': datetime.datetime(2011, 6, 8, 9, 14), 'UnitPrice': 0.39, 'CustomerID': 12567, 'Country': 'France'}
{'_id': ObjectId('66b5af376719fcca154fb542'), 'InvoiceNo': 'C544422', 'StockCode': '79191C', 'Description': 'RETRO PLASTIC ELEPHANT TRAY', 'Quantity': -12, 'InvoiceDate': datetime.datetime(2011, 2, 18, 15, 22), 'UnitPrice': 0.85, 'CustomerID': 12553, 'Country': 'France'}

In [25]:
# Count the total number of records
total_documents = collection.count_documents({})
print('\nTotal number of documents:', total_documents)

Total number of documents: 327498

In [26]:
# Grouping Operation
documents = list(collection.find())
mongo_df = pd.DataFrame(documents)
# Using Group By and Aggregation
grouped_df = mongo_df.groupby('Country')['Quantity'].sum().reset_index()
print(grouped_df)

                 Country  Quantity
0              Australia      3498
1                Austria      2805
2                Bahrain        70
3                Belgium     13282
4                 Brazil       148
5                 Canada       954
6        Channel Islands      4301
7                 Cyprus      2945
8         Czech Republic        73
9                Denmark      2199
10                  EIRE     40611
11    European Community       335
12               Finland      4125
13                France     53803
14               Germany     59440
15                Greece      1051
16               Iceland      1281
17                Israel      1112
18                 Italy      4942
19                 Japan       339
20               Lebanon       302
21             Lithuania       310
22                 Malta       608
23           Netherlands      4036
24                Norway      5741
25                Poland      2109
26              Portugal      9384
27                   RSA       333
28          Saudi Arabia        75
29             Singapore      1288
30                 Spain     12880
31                Sweden      1862
32           Switzerland     11351
33                    UK   1593042
34                   USA       477
35  United Arab Emirates       492
36           Unspecified       780

In [27]:
# Update Operation
collection.update_many({'Country': 'United Kingdom'}, {'$set': {'Country': 'UK'}})
# To print each document
for doc in collection.find({'Country': 'UK'}).limit(5):
    print(doc)

{'_id': ObjectId('66b5af376719fcca154ef6ca'), 'InvoiceNo': '536365', 'StockCode': '85123A', 'Description': 'WHITE HANGING HEART T-LIGHT HOLDER', 'Quantity': 6, 'InvoiceDate': datetime.datetime(2010, 12, 1, 8, 26), 'UnitPrice': 2.55, 'CustomerID': 17850, 'Country': 'UK'}
{'_id': ObjectId('66b5af376719fcca154ef6cb'), 'InvoiceNo': '536365', 'StockCode': '71053', 'Description': 'WHITE METAL LANTERN', 'Quantity': 6, 'InvoiceDate': datetime.datetime(2010, 12, 1, 8, 26), 'UnitPrice': 3.39, 'CustomerID': 17850, 'Country': 'UK'}
{'_id': ObjectId('66b5af376719fcca154ef6cc'), 'InvoiceNo': '536365', 'StockCode': '84406B', 'Description': 'CREAM CUPID HEARTS COAT HANGER', 'Quantity': 8, 'InvoiceDate': datetime.datetime(2010, 12, 1, 8, 26), 'UnitPrice': 2.75, 'CustomerID': 17850, 'Country': 'UK'}
{'_id': ObjectId('66b5af376719fcca154ef6cd'), 'InvoiceNo': '536365', 'StockCode': '84029G', 'Description': 'KNITTED UNION FLAG HOT WATER BOTTLE', 'Quantity': 6, 'InvoiceDate': datetime.datetime(2010, 12, 1, 8, 26), 'UnitPrice': 3.39, 'CustomerID': 17850, 'Country': 'UK'}
{'_id': ObjectId('66b5af376719fcca154ef6ce'), 'InvoiceNo': '536365', 'StockCode': '84029E', 'Description': 'RED WOOLLY HOTTIE WHITE HEART.', 'Quantity': 6, 'InvoiceDate': datetime.datetime(2010, 12, 1, 8, 26), 'UnitPrice': 3.39, 'CustomerID': 17850, 'Country': 'UK'}

In [28]:
# Parquet File
cursor = collection.find({})
cleaned_df = pd.DataFrame(list(cursor))

In [29]:
# Dropping the '_id' because of conversion error
if '_id' in cleaned_df.columns:
    cleaned_df = cleaned_df.drop(columns=['_id'])

In [30]:
# Convert DataFrame to Parquet
table = pa.Table.from_pandas(cleaned_df)
pq.write_table(table, 'E-Commerce')

In [31]:
# Close the connection
client.close()